* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Cinzel';
    color: rgba(20, 19, 20, 0.753);
}

@font-face {
    font-family: Cinzel;
    src: url(font/Cinzel_Decorative/CinzelDecorative-Bold.ttf);
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    background: linear-gradient(
        100deg,
        rgba(30, 128, 241, 1) 0%,
        rgba(34, 133, 20, 1) 19%,
        rgba(213, 192, 64, 1) 35%,
        rgba(204, 149, 149, 1) 53%,
        rgba(126, 101, 123, 1) 70%,
        rgba(77, 157, 151, 1) 86%,
        rgba(17, 75, 130, 1) 100%
    );
    background-size: 400% 400%;
    animation: gradient 35s ease infinite;

    overflow: hidden;
}

#welcomePage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    backdrop-filter: blur(2vmax);

    transition: ease-out 0.3s;
}

#welcomePage h1 {
    font-size: 5vmax;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

#welcomePage h3 {
    font-size: 4vmax;
    background-color: rgba(240, 248, 255, 0.31);
    box-shadow: 0px 0px 20px 30px rgba(240, 248, 255, 0.31);
    padding: 0 1vmax;
    border-radius: 20px;
    display: none;
}

header {
    flex: 0 0 min-content;
    font-size: 6vmax;
    margin-bottom: 7vmin;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}

button {
    cursor: pointer;
    font-size: 4vmin;
    padding: 1vmin 2vmin;
    border-radius: 1vmax;
    box-shadow: 2px 2px black;
    background-color: rgba(116, 160, 199, 0.351);
    backdrop-filter: blur(100px);
    transition: 0.2s;
}

button:hover {
    box-shadow: 4px 4px black;
}

button:active {
    box-shadow: none;
    transform: translateX(4px) translateY(4px);
}

#gameboards {
    flex: 1 0 60%;
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 2%;
}

#gameboards > div {
    flex: 0 1 fit-content;
    height: max-content;
    overflow: hidden;
}

h2 {
    /* TODO: responsive */
    text-align: center;
    font-size: 4vmin;
    margin: 0;
    padding: 0;
}

.gameboard {
    width: 30vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(0, 0, 0, 0.397);
    opacity: 0.5;
    pointer-events: none;
    backdrop-filter: blur(10vmax);
    background-color: rgba(240, 248, 255, 0.507);
    transform: scale(0.85);

    transition: 0.3s;
    /* transition-delay: 0.3s; */
}

.active-gb {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
}

/* aside */

aside {
    flex: 0 1 min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 2vh 0;
}

aside > * {
    flex-basis: min-content;
    white-space: nowrap;
}

/* grid elements */

/* non-ship */
.non {
    flex: 0 0 10%;
    overflow: hidden;
    aspect-ratio: 1/1;
    border: 2px solid rgba(0, 0, 0, 0.397);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

.non > * {
    opacity: 0;
}

.non-clicked {
    display: flex;
    background-color: rgba(226, 196, 196, 0.685);
    pointer-events: none;
}

.non-clicked * {
    opacity: 1;
}

.point {
    width: 20%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    pointer-events: none;
}

/* ship */

.ship {
    flex: 0 0 10%;
    overflow: hidden;
    aspect-ratio: 1/1;
    border: 2px solid rgba(0, 0, 0, 0.397);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

.ship > * {
    opacity: 0;
}

.ship-clicked {
    background-color: rgba(240, 128, 128, 0.664);
    pointer-events: none;
}

.ship-clicked > * {
    opacity: 1;
}

.line {
    width: 145%;
    height: 10%;
    background-color: black;
    transform: rotate(-45deg);

    position: absolute;
    top: 45%;
    pointer-events: none;
}

.ship > .line:first-of-type {
    transform: rotate(45deg);
}

/* players board */

.playerBoard {
    background-color: rgba(30, 105, 105, 0.562);
    pointer-events: none;
}

.playerBoard .ship > * {
    opacity: 1;
}

.playerBoard .non > * {
    opacity: 0;
}

@media all and (min-width: 600px) and (orientation: landscape) {
    /*tablet*/
}

@media all and (min-width: 768px) {
    /*számítógép*/

    #gameboards {
        width: 95vw;
        gap: 2%;
    }

    .gameboard {
        width: 30vw;
    }

    .non:hover,
    .ship:hover {
        background-color: rgba(27, 252, 7, 0.664);
        transform: scale(1.2);
        transition: 0.1s;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
